body {
    font-family: Arial, Helvetica, sans-serif;
}

.pai{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #F0F8FF
}

#corFundo{
    background-color: #F0F8FF; 
} 

#corFundoDoMenu {
    background-color: #F0F8FF; 
}

#corfonte1 {
    color: #000080;
}

#corBotao {
    background-color: #87CEEB; 
  
}

#formatoCampoLogin {
    width: 600px; 
  
}

#alerta {
    background-color: red;
   
}

#formas_pagamento {
    color: red;  
    
}

#centralizar {
    text-align: center;
    
}

#preco {
    color: red;
    text-align: center;
   

}

#precodesconto{
    font-size: 20px;
    text-align: center;
   
}
